* {
  background-color: rgb(123, 34, 196);
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  height: 100vh;
}
body #outputSection {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}
body #outputSection #divCurrentOutput {
  border-top: 2px solid white;
}
body #outputSection output {
  font-family: "Saira", sans-serif;
  font-size: 25px;
  color: rgb(7, 200, 7);
  font-weight: bolder;
}
body #outputSection div {
  padding: 20px;
  padding-left: 40%;
  padding-right: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}
body #clearButton {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: red;
  border-radius: 10px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 4px solid black;
  font-family: "Saira", sans-serif;
  font-size: 25px;
  color: white;
}
body #clearButton:active {
  background-color: rgb(70, 136, 136);
}
body main {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
}
body main #rowOne, body main #rowTwo, body main #rowThree {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-top: 20px;
}
body main #rowOne {
  padding-top: 20px;
}
body main #rowFour {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
body main .button button {
  padding: 50px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(124, 11, 181);
  border: 2px solid rgb(79, 10, 79);
  box-shadow: 2px 2px purple;
}
body main .button #buttonEquals {
  background-color: rgb(64, 75, 228);
  color: white;
  font-weight: bolder;
  font-family: "Merriweather Sans", sans-serif;
  padding-left: 60px;
}
body main .button #buttonMultiply, body main .button #buttonAdd, body main .button #buttonSubtract, body main .button #buttonDivide, body main .button #buttonDecimal {
  font-family: "Merriweather Sans", sans-serif;
  background-color: rgb(8, 8, 92);
  color: white;
}
body main .button #buttonMultiply:active, body main .button #buttonAdd:active, body main .button #buttonSubtract:active, body main .button #buttonDivide:active, body main .button #buttonDecimal:active {
  background-color: rgb(56, 2, 2);
}
body main .button #buttonEquals:active {
  background-color: rgb(255, 0, 0);
}
body main .button #buttonDecimal {
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 5px;
  margin-right: 5px;
}
body main .button button:active {
  background-color: rgb(142, 194, 249);
}
body main .largeButton button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
}
body footer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body #outputsection {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  body main {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  body footer {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}/*# sourceMappingURL=style.css.map */