

$primaryBackgroundColor: #54636c;
$buttonBackgroundColor: #b5c3cf;
$buttonBorderColor: #6e87a2;
$buttonOperatorColor: #DFDEDC;
$buttonClearColor: #8F625D;
$buttonEqualsColor: #C3B28B;
$buttonActiveColor: #99a7b3;
$outputTextColor: rgb(135, 187, 187);

* {
    background-color: $primaryBackgroundColor;
    font-family: 'Ibarra Real Nova', serif;
}


body {
    display: grid;
    height: 100vh;
    #outputSection{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;

        #divCurrentOutput {
            border-top: 2px solid white;
        }

        output {
            font-family: 'Saira', sans-serif;
            font-size: 25px;
            color: $outputTextColor;
            font-weight: bolder;
        }
        div {
            padding: 20px;
            padding-left: 40%;
            padding-right: 40%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    #clearButton {
        width: 100%;
        margin-top: 10px;
        padding: 20px;
        background-color: $buttonClearColor;
        border-radius: 10px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 3px solid black;
        border-right: 4px solid black;
        font-family: 'Saira', sans-serif;
        font-size: 25px;
        color: white;
    }

    #clearButton:active {
        background-color: rgb(79, 63, 63);
    }

    main{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 5;


        #rowOne, #rowTwo, #rowThree {
            display:flex;
            justify-content: space-evenly;
            padding-bottom: 10px;
            padding-top: 20px;
        }

        #rowOne{
            padding-top: 20px;
        }

        #rowFour {
            display: flex;
            justify-content: space-evenly;
            padding-top: 20px;
        }

        .button {
            button {
                padding: 50px;
                border-radius: 10px;
                font-size: 35px;
                font-weight: bold;
                background-color: $buttonBackgroundColor;
                border: 2px solid $buttonBorderColor;
                box-shadow: 2px 2px $buttonBorderColor;
            }

            #buttonEquals {
                background-color: $buttonEqualsColor;
                color: white;
                font-weight: bolder;
                font-family: 'Merriweather Sans', sans-serif;
                padding-left: 60px;
                border: 2px solid #b7a984;
                box-shadow: 3px 3px #958762;
            }

            #buttonMultiply, #buttonAdd, #buttonSubtract, #buttonDivide, #buttonDecimal {
                font-family: 'Merriweather Sans', sans-serif;
                background-color: $buttonOperatorColor;
                color: black;
                font-size: 40px;
                border: 2px solid #b3b3b1;
                box-shadow: 3px 3px #a5a5a5;
                padding-bottom: 40px;
            }

            #buttonMultiply:active, #buttonAdd:active, #buttonSubtract:active, #buttonDivide:active, #buttonDecimal:active {
                background-color: #bdbcba;
            } 

            #buttonEquals:active {
                background-color: #9b8d6e;
            }

            #buttonDecimal {
                padding-left: 55px;
                padding-right: 55px;
                margin-left:5px;
                margin-right: 5px;
            }

            button:active {
                background-color: $buttonActiveColor;
            }
        }

        .largeButton {
            button {
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 60px;
                padding-right: 60px;
                border-radius: 10px;
            }
        }


    }

    footer {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        color: white;
        text-align: center;
    }
}


@media screen and (min-width: 768px) {
    body {

        #outputsection {
            grid-column-start: 3;
            grid-column-end: 4;
        }

        main {
            grid-column-start: 3;
            grid-column-end: 4;
        }

        footer {
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
} 